.blogItem {
    margin: 22px;
    font-family: 'Fira Sans', sans-serif;
}

.blogContainer{
    margin: 88px;
}

.blogContainer h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 24px;
}

.blogItem p {
    font-family: 'Source Code Pro', monospace;
}