@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(238, 232, 232);
    height: 110vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 30px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 33px 0px;
}
.sidebar nav li a{
text-decoration: none;
color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: rgb(171, 14, 116); */
    height: 58vh;
    width: 80vw;
    margin: 147px 88px;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    font-size: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 3em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 2.2em;
}

.moreAbout {
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 32px;
    font-size: 10px;
}

.btn{
    padding: 9px 14px;
    margin: 0px 3px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: #209bf4;
    border-radius: 22px;
    border: 2px solid gray;
    cursor: pointer;
}

.btn:hover {
    color: #209bf4;
    background-color: white;
}

.btn-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0px;
}


.devPic img {
    height: 58vh;
}

.hamburger{
    position:absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.sidebarGo{
    transform: translate(-443px,0px);
}

.cross{
    margin-left: 135px;
    margin-top: 10px;
}

.ham{
margin-top: 10px;
margin-left: 10px;
}


